
@import url('https://fonts.googleapis.com/css2?family=Muli&family=Ubuntu&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
color: white;
}

:root{

    --mainBleu : #2bb0e1;
}

body {

    font-family:  'Ubuntu', sans-serif;
   
}
.container-fluid{
    
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0.3981792546120011) 0%, rgba(22,22,22,0.8 ) 0%),
     url("../img/velodrome.jpg") center/cover fixed no-repeat;
    position: relative;
    height: 100vh;
    width: 100%;  
}

.row {

    display: flex;
    justify-content: space-between;
}


.menu {
     
    clip-path: polygon(0% 0%, 75% 0%, 91% 52%, 75% 100%, 0% 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
   background: rgb(245,245,245);
   background: linear-gradient(180deg, rgba(245,245,245,1) 0%, rgba(43,176,225,1) 100%); 
    
}

ul {

    margin-top: 40px;
}

.nav-links {
    
    list-style: none;;
    margin-top: 15px;
    margin-left: 15px;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: black;
    opacity: 0.6;
    font-family: 'ubuntu';
    letter-spacing: 1px;
    font-size: 0.7rem;
    width: 60%;
}

.nav-links:hover {

    cursor: pointer;
    opacity: 0.8;
}

.activ {

    cursor: pointer;
    opacity: 0.8;
}

.activStat {

    color: var(--mainBleu);
}

.logo img {

    height: 80px;
    width: 70px;
    margin-right: 55px;
    margin-top: 10px;
   
}

/*****************  end of left bar side*****************************************/
.tablo {
   
    position: relative;
    margin-top: 40px;
    border: none;
    font-size: 0.8rem;
    margin-right: 250px;
}

.scroll {

    overflow: auto;
    height: 82vh;
    margin-top: 15px;
    scrollbar-width: thin;
    scrollbar-color: auto;
    width:720px;
}

.position-absolute {
    z-index: 2;
    top: -12px;
    margin-left: 10px;
    padding: 0px;
    border-bottom: var(--mainBleu) 1px solid;
    width:700px;
}

.position-absolute span i {

    margin-left: 5px;
    transform: rotate(270deg);
}

.rotate {

    transform: rotate(360deg) !important;
    color: var(--mainBleu) !important;
}


.position-absolute tr th:hover  {

    color: var(--mainBleu) !important;
    cursor: pointer;
}

.position-absolute tr th:nth-child(2){

   padding-left: 30px;
   padding-right: 90px;
}


.position-absolute tr th:nth-child(3){

    padding-right: 25px;
}

.position-absolute tr th:nth-child(4),.position-absolute tr th:nth-child(5){

    padding-left: 5px;
    padding-right: 13px;
    font-size: 0.7rem;
}

.position-absolute tr th:nth-child(6),.position-absolute tr th:nth-child(7){

    font-size: 0.7rem;
    padding-right:10px ;

}

.position-absolute tr th:nth-child(8),.position-absolute tr th:nth-child(9){
    font-size: 0.7rem;
    padding-left: 5px;
    padding-right: 18px;
}

.position-absolute tr th:nth-child(10){
    font-size: 0.7rem;
}

.position-absolute tr th:nth-child(11){

    font-size: 0.7rem;
    padding-left: 0px;
    padding-left: 10px;
   
}

#listnum {
 
    padding: 5px;
}

.tablo td {

 padding-left: 35px;
 
}

.ecus {

    margin-right: 10px;
    margin-top: 5px;
    width: 20px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--mainBleu);  
}

.visible {

 visibility: hidden;;
}

.profil {

    border: 2px solid var(--mainBleu);
    border-radius: 5px;
    min-height: 80vh;
    margin-top: 47px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.bg-cover {

    clip-path: polygon(100% 0, 0 0, 0 50%);
    height: 300px;
    width: 100%;
    background: rgb(245,245,245);
    background: linear-gradient(180deg, rgba(245,245,245,1) 0%, rgba(43,176,225,1) 100%); 
}

.profilPhoto {
 height: 130px;
 width:  130px;
 border: var(--mainBleu) 1px solid;
 border-radius: 50%;
 align-self: center;
 margin-top: -270px;
 z-index: 2;
}

.profil-titre {
 
 align-self: center;
 display: flex;
 width: 60%;
 justify-content: center;

}

.profil-titre h5 {

    text-align: center;
    margin-right: 10px;
  
}

.profil-position {

    text-align: center;
}

.profil-position h7 {

    color: var(--mainBleu);
}


#noteStyle {
    font-size: 18px;
    font-weight: 600;
    color: var(--mainBleu);
}

.nom:hover {

    cursor: pointer;
    color: var(--mainBleu);
    
}
